@import "reset.css";
body{

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Vollkorn', serif;
    color: #333333;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montcerrat', sans-serif;
}
<<<<<<< HEAD
=======
button, input[type='button']{
    cursor: pointer;
}
>>>>>>> b9b7540 ( commit)

h1{
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 28px;

}

h2{
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;


}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-wrapper {
    padding: 0 10px;
}
.d-flex{
    display: flex;
}
header{
    padding: 18px 0;
}

header .container-wrapper {
    align-items: center;
    justify-content: space-between;
}
header nav a{
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #404040;
}
header nav {
    gap: 34px;
}
.sec-1{
    background-image: url("../img/imma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 105px 0 100px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.sec-1 p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity:  0.81;
}
.icon{
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}
.line{
    width: 80px;
    height: 2px;
    margin: 0 auto 25px;
    background: #FFFFFF;

}
.sec-2{
    padding: 60px 0;
    background: #FEFEC9;
}
.sec-2 p{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    margin-bottom: 40px;
}
<<<<<<< HEAD
.btn-main{
    color: #47474F;
    background: transparent;
    border: 1px solid #47474F ;
    border-bottom-width: 2px;
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;
}
.btn-secondary{
    color: #47474F;
}
.sec-3{
    background:  #E5E5E5;

}
.main{

=======
.btn{
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-bottom-width: 2px;
    background: transparent;
    transition: all 0.3s;
}
.btn-main {
    color: #47474F;
    border-color: #47474F;
}
.btn-main:hover{
    box-shadow: 0 1px 6px black;
}

.btn-secondary{
    font-style: italic;
    font-size: 17px;
    border-color:#7EC4BD;
    line-height: 22px;
    color: #8BCAC3;
    padding: 15px 34px 16px;
    max-width: 210px;
    width: 100%;

}
.btn-secondary:hover{
    background: #7EC4BD;
    color: black;
    border-color: black;
    box-shadow: 0 1px 6px  #7EC4BD;
}
.img-wrapper{
    justify-content: center;
    gap: 10px;
}
.mmm-wrapper{
    padding: 50px 86px;
    color: #F5F5F5 ;
}
.sec-3{
    padding: 100px 0;
>>>>>>> b9b7540 ( commit)
}
.sec-3 h1{
    font-size: 23px;
    line-height: 36px;
    padding: 80px 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;

}
.line-1{

    width: 80px;
    height: 2px;
    margin: 0 auto 25px;
    background: rgba(255, 255, 255, 0.25);
}
.img{
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.sec-4 h1{
    padding-top: 79px;
    padding-bottom: 73px;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.sec-3 img {
    padding: 50px 86px 50px;

}
.nav h2{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 70px;

}

.h2{

    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;

}
<<<<<<< HEAD
.sec-3 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-bottom: 40px;
}
.style p{
    padding-top: 20px;
    padding-bottom: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0 ;
}

=======
.sec-4 p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;

}
.cards-wrapper{
    justify-content: center;
    gap: 10px;

}
.cards img:hover{
    transform: rotate(25deg);
}
.sec-5 h1{
    padding-top: 79px;
    padding-bottom: 73px;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;

}
.sec-5 h4{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.sec-5 p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}
.mm-wrapper{
    justify-content: center;
    gap: 10px;
}
.mm img:hover {
    transform: rotate(-20deg);
}
.flex-svg{
    padding-top: 31px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

}
svg:hover{
    transform: scale(1,2);

}


.ig-wrapper{
    padding: 70px 250px 70px;
    width: 940px;
    height: 375px;
    left: 250px;
    top: 70px;
    background: #F5F5F5;
    border-radius: 0;

}
.sec-7 {
    background: #7EC4BD;
    padding: 70px 250px;

}
.sec-7 h1{
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;

}
.sec-7 h2{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.go-wrapper{
    justify-content: center;
    gap: 10px;
}
.g{
    padding: 50px 50px;
}

footer{
    background: black;
    padding:69px 0 75px;
}
footer .container{
    max-width: 564px;
}
input, textarea{
    display: block;
    width: 100%;
    font-size: 17px;
    font-style: italic;
    line-height: 22px;
    color: #FFFFFF;
    padding: 18px 30px 17px;
    background: rgba(255, 255, 255, 0.2);

}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::placeholder, textarea::placeholder{
    color: #ffffff;
}

input:nth-of-type(odd){
    background: rgba(255, 255, 255, 0.18);
}

textarea{
    resize: none;
    height: 50px;
}

form .btn-secondary{
    margin-top: 22px;
}

a{
    position: relative ;
}

a:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
}

a:hover:after{
    border: 2px solid #27d214;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
}
@media (min-width: 560px){
    textarea{
        height: 100px;
    }
}

@media (min-width: 768px){
    textarea{
        height: 150px;
    }
}

@media (min-width: 1024px){
    textarea{
        height: 200px;
    }
}

@media (min-width: 1440px){
    textarea{
        height: 300px;
    }
}
>>>>>>> b9b7540 ( commit)
